main {
    background:white;
    overflow:hidden;

}

header {
    background:white;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    padding:18px;
}

h4, h5, h6, p {
    color:black;
    font-size:18px;
}

h1 {
    color:black;
    font-size:32px;
    display:inline;
    padding:10px;
}

h2 {
    color:black;
    font-size:26px;
}

h3 {
    color:black;
    font-size:22;


}


body {
    background:greenyellow;
    font-family: "Lucida Console", "Courier New", monospace;
}

#tweet {
    background-color:white;
    border-radius:10px;
    padding:10px;
}

#copyright {
    background-color: white;
    border-radius: 10px;
}

nav ul {
    margin:0;
    padding:0;
    overflow:hidden ;
}

nav li {
    border:solid;
    border-width:2px;
    border-color: white;
    list-style-type: none;
    float: left;
    width:15%;
    padding:16px;
}

nav li a {
    color:white;
    text-align:center;
    text-decoration:none;
}

nav li:hover {
    background-color: greenyellow;
}

.active {
    background-color: green;
}

table{
    border-collapse: collapse;
}

table td, table th {
    border:solid;
    border-width:2px;
    border-color:#f0f0f0;
}

table tr:nth-child(even) {
    background-color:#f2f2f2;
}

table tr:hover {
    background-color:greenyellow;
}

table th {
    background-color: greenyellow;
    color:white;
}

#logo {
    height:50px;
    width:50px;
    float:left;
    margin-right:10px;
}

#LEFTCOL {
    width:70%;
    float:left;
    padding:20px;
}

#RIGHTCOL {
    width:20%;
    float:right;
    padding:20px;
}


