main {
    background:white;
    overflow:hidden;
    margin-bottom:10px;margin-left:10px;margin-right:10px;
    padding :5px;
}

header {
    background:white;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    padding:18px;
    margin-top:10px;margin-left:10px;margin-right:10px;
}

footer {
    margin:10px;
}

aside {
    margin:10px;
}

h4, h5, h6, p {
    color:black;
    font-size:18px;
}

h1 {
    color:black;
    font-size:32px;
    display:inline;
    padding:10px;
}

h2 {
    color:black;
    font-size:26px;
}

h3 {
    color:black;
    font-size:22;
}


body {
    background:greenyellow;
    font-family: "Lucida Console", "Courier New", monospace;
}

#tweet {
    background-color:white;
    border-radius:10px;
    padding:10px;
}

#copyright {
    background-color: white;
    border-radius: 10px;
}

nav ul {
    margin-left:10px;margin-right:10px;margin-bottom:0px;
    padding:0;
    overflow:hidden ;
}

nav li {
    border:solid;
    border-width:2px;
    border-color: white;
    list-style-type: none;
    float: left;
    width:14.28%;
    padding:16px;
}

nav li a {
    color:white;
    text-align:center;
    text-decoration:none;
}

nav li:hover {
    background-color: greenyellow;
}

.active {
    background-color: green;
}

table{
    border-collapse: collapse;
}



table td, table th {
    border:solid;
    border-width:2px;
    border-color:#f0f0f0;
}

table tr:nth-child(even) {
    background-color:#f2f2f2;
}

table tr:hover {
    background-color:greenyellow;
}

table th {
    background-color: greenyellow;
    color:darkgreen;
    text-align: center;
}

table td {
    font-size: 10pt;
    padding:5px;
}

#logo {
    height:50px;
    width:50px;
    float:left;
    margin-right:10px;
}

/*creates a coloumn for content to the left of an element*/
#LEFTCOL {
    width:65%;
    float:left;
    padding:20px;
    overflow:hidden;
}

/*creates a coloumn for content to the right of an element*/
#RIGHTCOL {
    width:25%;
    height:500px;
    float:right;
    padding:20px;
    overflow:hidden;
}

.carousel-item {
    width:90%;
    height:550px;
    margin-left:5%;
}

.gallery-img {
    width:100%;
    height:300px;
}

#img-gallery {
    padding-top:10px;
}

#img-gallery .row {
    margin-bottom:10px;
}

.membersdiv {
    margin:auto;
}

.memberImage  {
    margin-left:30%;
    border-radius: 5px;
}

#membertext1, #membertext2, #membertext3, #membertext4 {
    margin-left: 30%;
}

.login {
    float:right;
    display:inline;
}

.eventsTable {
    overflow:hidden;
}

#hateForm {
    margin-left:35%
}

.statement {
    background-color:green;
    color:white;
    border-radius: 5px;
}

.newsImage {
    height:155px;
    width:155px;
    float:left;
    overflow:hidden;
    margin-right:10px;
    
}

.day {
    width:14%;
}

#eventForm {
    padding:10px;
}
